.navbar-brand em {
  margin-right: 5px;
}

.search-container {
  display: block;
  margin: auto 0;
  width: calc(100% - 130px);
  padding-left:40px;
}

.search-container input {
  animation-duration: 3s;
  animation-name: slidein;
  width: 100%;
  outline: none;
  padding: 6px 6px 2px 6px;
  margin-left: -12px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  font-size: 15px;
  border-radius: 3px 3px 0 0;
}

.search-container input:hover,
.search-container input:active,
.search-container input:focus
{
  background-color: #eeeeee;
  border-bottom: 1px solid grey;
  padding-bottom: 2px;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .search-container {
    width: calc(100% - 230px);
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .search-container {
    width: 100%;
  }
}
